@import "./partials/variables";
@import "./partials/reset";

.nav_bg {
    position: fixed;
    top: 0%;
    width: 100%;
    background: rgb(0,0,0);
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(17,17,17,0.4766281512605042) 100%);
}
.user_form{
    margin-top: 100px;
    height: 90vh;
    width: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.918);

    h2{
        font-family: 'Jost', sans-serif;
    }
    
    h1{
        font-family: 'Dancing Script', cursive;
    }
    
}
.shop_btn{
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;

    :hover{
        background-color: transparent;
        color: rgba(255, 255, 255, 0.767);
    }
}
.shop_btn_tiend a{
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;

    :hover{
        background-color: transparent;
        color: rgba(255, 255, 255, 0.767);
    }
}
.button_cart {
    color: white;

    :hover{
    background-color: rgba(49, 49, 49, 0.514);
    
    }
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position: sticky;
}
.bg_color{
    background-image: url(../img/bg-form.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}
.user_container{
    top: 0%;
}


.title_border{
    font-family: 'Dancing Script', cursive;
}
.dropdown-menu{
    font-family: 'Jost', sans-serif;
}